.header {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: var(--shapes-01, #fff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  /* position: fixed; */
}
.colLeft {
  width: 50%;
  /* height: 100%; */
}
.colRight {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100%; */
}

.search {
  border-radius: 8px;
  background: #f3f5f6;
  width: 400px;
  height: 45px;
  border: 0;
}

.search::placeholder {
  opacity: 0.5;
  padding-left: 10px;
}
.iconSearch {
  position: relative;
  right: 10%;
}

.searchWrapper,
.cartWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cartNotification {
  background-color: #de3838;
  color: #fff;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  right: 15%;
}

/* MEDIAS QUERIES */
@media(min-width: 200px) and (max-width: 350px){
  .header{
    padding: 10px;
  }
  .searchWrapper {
    display: none;
  }
  .colRight{
    justify-content: end;
  }
}
@media (min-width: 351px) and (max-width: 1200px) {
  .searchWrapper {
    display: none;
  }
  .header{
    justify-content: space-between;
  }
  .colRight{
    justify-content: end;
  }
}
@media (min-width: 1200px) and (max-width: 2560px) {
}
