.checkoutWrapper {
  margin-top: 35px;
  width: 100%;
  /* min-height: 100vh; */
  height: auto;
  display: flex;
}


.checkoutEmpty{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.checkoutEmptyLink{
  padding: 10px;
  border-radius: 8px;
  background: var(--shapes-light-88-gray, #d0d0d7);
  margin-top: 20px
}


.colLeft {
  width: 65%;
  padding-left: 6%;
  max-height: 80vh;
  overflow-y: scroll;
}

.colLeft::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

.colLeft::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
}

.voltar {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #617480;
  font-weight: 500;
  font-size: 18px;
}

.iconBack {
  margin-right: 5px;
}

.checkoutTitle {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}

.checkoutSubTitle {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.checkoutProduct {
  width: 720px;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--shapes-01, #fff);
  margin: 20px 0;
  display: flex;
}
.checkoutProductImage {
  width: 256px;
  height: auto;
  flex-shrink: 0;
  padding: 10px;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.checkoutProductName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.productName {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 10px;
}

.productDescription {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.checkoutProductQuantity {
  width: 65px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--textos-dark-textos, #a8a8b3);
  background: #f3f5f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.quantitySelector {
  font-size: 20px;
  cursor: pointer;
}

.checkoutProductActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.iconRemove {
  cursor: pointer;
}
.productPrice {
  color: var(--shapes-dark-tooltip, #09090a);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.colRight {
  width: 35%;
  padding-left: 2%;
}

.orderSummary {
  background: var(--shapes-01, #fff);
  width: 352px;
  height: 75vh;
  padding: 16px 24px;
}

.summaryTitle {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 30px;
}
.summaryPriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.summaryPrice {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.summaryTotalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-top: 1px solid #dce2e5;
  padding: 15px 0;
}

.summaryTotal {
  color: var(--textos-dark-inputs-icons, #41414d);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.finishOrder {
  display: flex;
  width: 305px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  color: var(--shapes-light-background, #f5f5fa);
  background: #51b853;
  border: 0;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}
.helpLinksWrapper {
  margin-top: 100px;
}

.helpLinks {
  color: var(--textos-dark-textos-apoio, #737380);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 5px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .checkoutWrapper{
    flex-direction: column;
    align-items: center;
  }

  .colLeft{
    width: 90%;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .checkoutProduct{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .checkoutProductActions{
    flex-direction: row-reverse;
  }

  .colRight{
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .orderSummary{
    width: 95%;
    margin-top: 30px;
    height: auto;
  }

  .finishOrder{
    width: 100%;
  }

}

@media (min-width: 500px) and (max-width: 1200px) {
  .checkoutWrapper{
    flex-direction: column;
    align-items: center;
  }

  .colLeft{
    width: 90%;
    padding: 0 10px;
  }
  .checkoutProduct{
    width: 100%;
  }
  .colRight{
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .orderSummary{
    width: 95%;
    margin-top: 30px;
    height: auto;
  }

}
@media (min-width: 1200px) and (max-width: 2560px) {
}

